Repository SantaVC/vs_project, pull requests merged in 2021-12, with the labels that each got.

#1 Main code of Morse.
  main.py
Labels: main

#3 Unit Tests
  UnitTestsMorzeCode.py
Labels: Test

#4 Udělal jsem Flake8.
  UnitTestsMorzeCode.py
  main.py
Labels: Flake8

#5 Main
  main.py
Labels: main

#6 Změna funkce testTextToEnglish
  UnitTestsMorzeCode.py
Labels: Test

#7 Změna main a UnitTesty.
  UnitTestsMorzeCode.py
  main.py
Labels: main, Test
